:root{
    --left: 21%;
    --step: 108px;
}

body{
    background-color: darkblue;
}

.container{
    position: relative;
    width: 50%;
    height: 90vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-keys{
    display: flex;
    justify-content: left;
}

.white-keys kbd{
    background-color: white;
    display: inline-block;
    height: 400px;
    width: 100px;
    margin-left: 0;
    border: solid 2px;
    text-align: center;
    font-family: "Fira Code", sans-serif;
    font-size: 20px;

}

.black-keys{
    position: absolute;
}

.black-keys kbd{
    background-color: black;
    height: 200px;
    width: 50px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 0;
}

#W{
    margin-left: 80px;
}

#E{
    margin-left: 49px;
    margin-right: 155px;
}
#Y, #U{
    margin-left: 50px;
}